<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.bmob.kotlin.data">

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 请求安装APK，用于版本更新 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".KotlinDataApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Dark"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".guide.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".crud.CrudActivity" />
        <activity
            android:name=".user.login.LoginActivity" />
        <activity android:name=".user.register.RegisterActivity" />
        <activity android:name=".main.MainActivity" />
        <activity android:name="cn.bmob.kotlin.data.data.file.FileActivity" />
        <activity android:name="cn.bmob.kotlin.data.function.sms.SmsActivity" />
        <activity android:name="cn.bmob.kotlin.data.function.update.VersionUpdateActivity" />

        <!-- 数据共享 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="cn.bmob.kotlin.data"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity
            android:name=".user.sms.SmsSignUpActivity">
        </activity>
        <activity android:name=".user.UserManagerActivity" />
        <activity android:name=".data.DataTypeActivity" />
        <activity android:name=".function.FunctionsActivity" />
        <activity android:name=".function.realtime.RealtimeActivity" />
        <activity android:name=".correlation.post.PostsActivity" />
        <activity android:name=".user.email.EmailActivity" />
        <activity android:name=".user.third.ThirdActivity" />
        <activity android:name=".data.array.ArrayActivity" />
        <activity android:name=".data.installation.InstallationActivity" />
        <activity android:name=".data.location.LocationActivity" />
        <activity android:name=".correlation.post.PublishPostActivity" />
        <activity android:name=".correlation.CorrelationActivity" />
        <activity android:name=".function.acl.AclActivity" />
        <activity android:name=".function.article.ArticleActivity" />
        <activity android:name=".correlation.post.PostActivity"/>
        <activity android:name=".other.OtherOperationActivity"/>
    </application>

</manifest>